.aboutMe{
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* background: linear-gradient(to right, #fff7e6, #f8e9c4);*/
   background: white;
    padding: 3rem 8%;
    min-height: 100vh;
    gap: 3rem;

}

.details{
    flex: 1 1 400px;
    max-width: 600px;
}

.myName{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #0c0d20;
    font-family: 'Merriweather';

}

.description{
    line-height: 1.2;
    margin-bottom: 2rem;
    font-size: 1.05rem;
}
h2{
  font-size: 1.7rem;
}

.education{
  list-style: none; /* removes the dots */
  padding: 0;
  margin: 0;
}

.education li {
  font-size: 1.1rem;
  margin: 0.7rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: space-between;
}
.school-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.img-container{
    flex: 0 1 350px;
    display: flex;
    justify-content: center;
}


.myface{
    width: 350px;
    height: 350px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 4 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.myface:hover {
  transform: scale(1.05);
}

@media (max-width: 960px) {
  .aboutMe {
    flex-direction: column-reverse;
    text-align: center;
  }

  .myface {
    height: 280px;
    width: 280px;
  }

  .intro {
    font-size: 2rem;
  }
}
